.ramiz{ 
  text-align: center;
  }
  .web{
   
    width: ;
    float: left;
    text-align: center;
  }
  
 .data{
  width: 50.%;
  float: left;
  text-align: center;
 
 }
 .clear{
  clear: both;
}
